@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .mobile-body-area .no-scrollbar::-webkit-scrollbar,
  .mobile-body-table-top .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .mobile-body-area .no-scrollbar,
  .mobile-body-table-top .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  position: relative;
}
